footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-block: 24px;
  font: 14px/150% var(--font-family);
}

@media (min-width: 80em) {
  footer {
    flex-direction: row;
    gap: 24px;
  }

  footer span:nth-child(1) {
    margin-right: auto;
  }
}